# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

obj/
bin/

/ASPDOTNET.DelegateProject/.vs/ASPDOTNET.DelegateProject
/.vs
/ASPDOTNET.DelegateProject/bin/Debug/netcoreapp3.1
/ASPDOTNET.Delegate/.vs/ASPDOTNET.Delegate/v16
/ASPDOTNET.Delegate/obj
/ASPDOTNET.Delegate/bin/Debug/netcoreapp3.1
/WebApplication.WebApi/.vs/WebApplication.WebApi
/WebApplication.WebApi/WebApplication.Bll/obj
/WebApplication.WebApi/WebApplication.Common/bin/Debug
/WebApplication.WebApi/WebApplication.Common/obj/Debug
/WebApplication.WebApi/WebApplication.ServiceBll/bin/Debug
/WebApplication.WebApi/WebApplication.ServiceBll/obj/Debug
/WebApplication.WebApi/WebApplication.WebApi/bin
/WebApplication.WebApi/WebApplication.WebApi/obj/Debug
/WebApplication.WebApi/WebApplication.WebApi/Web.Release.config
/WebApplication.WebApi/WebApplication.WebApi/Web.Debug.config
/WebApplication.WebApi/WebApplication.WebApi.Tests/bin/Debug
/WebApplication.WebApi/WebApplication.WebApi.Tests/obj/Debug
/WebApplication.WebApi/WebApplication.WebApi.v12.suo
/WebApplication.WebApi/WebApplication.WebApi.sln.DotSettings.user
/WebApplication.WebApi/WebApplication.WebApi/Log
/WebApplication.WebApi/packages
