<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <Name value="乔峰">
    <Event value="丐帮帮主"/>
    <Event value="契丹人"/>
    <Event value="南院大王"/>
    <Event value="挂印离开"/>
  </Name>
  <Name value="虚竹">
    <Event value="小和尚"/>
    <Event value="逍遥掌门"/>
    <Event value="灵鹫宫宫主"/>
    <Event value="西夏驸马"/>
  </Name>
  <Name value="段誉">
    <Event value="钟灵儿"/>
    <Event value="木婉清"/>
    <Event value="王语嫣"/>
    <Event value="大理国王"/>
  </Name>
</configuration>